@model List<TodoTest.ViewModel.TodoViewModel>

@{
    ViewData["Title"] = "Homepage";

}

<div class="my-container">
    <h1 class="display-4">Todo</h1>
    <form asp-controller="Todo" asp-action="Index">
        <div class="card-body">
            <div class="input-group mb-3">
                <input class="form-control" type="text" name="SearchText" placeholder="Search todo by name">
                <input class="p-1 m1-2 btn btn-sm-info btn btn-primary btn-sm" type="Submit" value="Search" />

            </div>
        </div>
    </form>

    <form method="post" asp-action="DeleteAll" asp-controller="Todo" id="frm">
        <div class="btn-rmv rounded-btn btn btn-secondary btn-sm" style="position:absolute; top:-50px; left:40px;">
            <button type="submit"> <i class="bi bi-trash-fill"></i> &nbsp; Delete Selected Item(s)</button>
        </div>
        <div class="btn-rmv rounded-btn btn btn-secondary btn-sm" style="position:absolute; top:-50px; Right:40px;">
            <button asp-action="Create" asp-controller="Todo"> <i class="bi bi-plus-circle"></i> &nbsp; Add New Item</button>
        </div>

        <div class="container">
            <table class="table">
                <thead>
                    <tr class="table-danger">
                        <th scope="col"> <span class="badge rounded-pill bg-primary">Select</span> </th>
                        <th scope="col">
                            <span class="badge rounded-pill bg-primary">Description</span>

                        </th>
                        <th scope="col">
                            <span class="badge rounded-pill bg-primary">Name</span>

                        </th>
                        <th scope="col">
                            <span class="badge rounded-pill bg-primary">Schedule</span>

                        </th>

                        <th scope="col">
                            <span class="badge rounded-pill bg-primary"></span>

                        </th>

                        <th scope="col">
                            <span class="badge rounded-pill bg-primary">Action</span>

                        </th>
                    </tr>
                </thead>


                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr class="table-primary">

                            <td>
                                <input type="hidden" asp-for="@Model[i].Id" />
                                <input class="chk" asp-for="@Model[i].TodoList.Selected" />
                            </td>
                            <td>
                                @Model[i].Description
                            </td>
                            <td>
                                "
                                @Model[i].Name
                            </td>

                            <td>
                                @Model[i].Schedule
                            </td>

                            <td>
                                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@Model[i].Id"> <i class="bi bi-pencil-square"></i> Edit</a>
                            </td>

                            <td>
                                <a class="btn btn-danger btn-sm" asp-controller="Todo" asp-action="Delete" asp-route-id="@Model[i].Id"> <i class="bi bi-trash-fill"></i>  Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>

@*
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }
*@


