@model IEnumerable<TodoWeek7.Models.Todo>
  
@{
    ViewData["Title"] = "Index";
   
}


      
 <div class="my-container">
    <h1 class="display-4">Todo</h1>
    <form asp-controller="Todo" asp-action="Index">
        <div class="card-body">
          <div class="input-group mb-3">
            <input  class="form-control" type="text"  name="SearchText" placeholder="Search todo by name">
             <input class="p-1 m1-2 btn btn-sm-info btn btn-primary btn-sm"  type="Submit" value="Search" />
           
          </div>
        </div>
    </form>

   <form method="get" asp-action="Index" asp-controller="Todo" id="frm">
       @*<div class="btn-rmv rounded-btn" style="position:absolute; top:-50px; left:40px;"> 
           <input type="submit"  asp-action="Delete" asp-route-id="@item.Id" value="Delete All Items"/>
       </div>*@
        

        <div class="btn-rmv rounded-btn btn btn-secondary btn-sm" style="position:absolute; top:-50px; Right:40px;"><button asp-action="Create" asp-controller="Todo"> <i class="bi bi-plus-circle"></i> &nbsp; Add New Item</button></div>

 <div class="container">
  <table class="table">
        <thead>
          <tr class="table-danger">
              <th scope="col"><input type="checkbox" id="checkAll"/> Select </th>
               <th scope="col">
                   <span class="badge rounded-pill bg-primary">Name</span>
  
                </th>
                <th scope="col">
                     <span class="badge rounded-pill bg-primary">Description</span>
               
                </th>
                <th scope="col">
                    <span class="badge rounded-pill bg-primary">Schedule</span>
               
                </th>

                 <th scope="col">
                   <span class="badge rounded-pill bg-primary"></span>
                
                </th>

                 <th scope="col">
                   <span class="badge rounded-pill bg-primary">Action</span>
               
                </th>
          </tr>
        </thead>
    
    
    <tbody>
        @foreach(var @item in @Model)
        {
      <tr class="table-primary">

            <td>
                      <div class="form-check">
                       <input asp-for="@item.Id" hidden />
                        <input  class="form-check-input position-static" type="checkbox" value="@item.Id" />
                        
                          
                      </div>
            </td>
            <td>
                @item.Description
            </td>
             <td> 
                @item.Name
            </td>
           
            <td> 
                @item.Schedule
            </td>
           
             <td>
                  <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"> <i class="bi bi-pencil-square"></i> Edit</a>
            </td>

            <td>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"> <i class="bi bi-trash-fill"></i>  Delete</a>
            </td>
      </tr>
  
       @*<div class="btn-rmv rounded-btn btn btn-secondary btn-sm" style="position:absolute; top:-50px; left:40px;"> 
           <input type="submit"  asp-action="Delete" asp-route-id="@item.Id" value="Delete All Items"/>
            <i class="bi bi-trash-fill"></i> &nbsp; Clear All
       </div>*@
       <div class="btn-rmv rounded-btn btn btn-secondary btn-sm" style="position:absolute; top:-50px; left:40px;"><button asp-action="Delete" asp-controller="Todo" asp-route-id="@item.Id"> <i class="bi bi-trash-fill"></i> &nbsp; Clear All Items</button></div>
        }
        
  </tbody>
      
  </table>
</div>
</form>
 </div>               
  

    @*<script>
        $(document).ready(function () {

            $("#checkAll").click(function () {
                $(".checkBox").prop('checked',
                    $(this).prop('checked'));
            });

            $("#Delete").click(function () {
                var item = new Array();
                $('input:checkbox.checkBox').each(function () {
                    if ($(this).prop('checked')) {
                        item.push($(this).val());
                    }
                });

                var options = {};
                options.url = "/Todo/Delete";
                options.type = "POST";
                options.data = JSON.stringify(item);
                options.contentType = "application/json";
                options.dataType = "json";
                options.success = function (msg) {
                    alert(msg);
                };
                options.error = function () {
                    alert("Error while deleting the records!");
                };
                $.ajax(options);

            });
        });
    </script>

}*@